body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to bottom, #a2d4f4, #ffffff);
    min-height: 100vh;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px sold #ccc;
    width: 200px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherResult {
    margin-top: 2rem;
    font-size: 1.2rem;
}

img {
    width: 80px;
}